{% extends 'base.html' %}
{% block title %}{{ 'ایجاد مقاله' if mode == 'new' else 'ویرایش مقاله' }}{% endblock %}
{% block content %}
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
</head>

<style>
body{
    background-color: black;
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;
}


</style>
<h2>{{ 'ایجاد مقاله جدید' if mode == 'new' else 'ویرایش مقاله' }}</h2>
<form method="post" enctype="multipart/form-data">
    عنوان: <input type="text" name="title" value="{{ article.title if mode == 'edit' else '' }}"><br>
    متن مقاله:<br>
    <textarea name="content" rows="10" cols="60">{{ article.content if mode == 'edit' else '' }}</textarea><br>
    تصویر: <input type="file" name="image" ><br>
    <input type="submit" value="{{ 'ثبت' if mode == 'new' else 'ذخیره تغییرات' }}">
</form>
{% endblock %}
