{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
</head>

<style>
body {
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;
    background-color: #f4f4f4;
    color: #cb1f1f;
}


p {
    font-family: 'Vazirmatn', sans-serif;
}
.article_img{

    text-align: center;
    margin-left: 0;
    margin-right: 0;
    max-width: 900px;
}



.article_paragraph {
    text-align: justify;
    margin: 0 auto;
    max-width: 900px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Vazir', sans-serif;
}

</style>

<h2>{{ article.title }}</h2>
<h3>{{article.author.username}}</h3>
<h4>{{article.created_at.year}}/{{article.created_at.month}}/{{article.created_at.day}}</h4>
<hr>
{% if article.image %}
    <img class="article_img" src="{{ url_for('static', filename='uploads/' + article.image) }}" width="300"><br>
{% endif %}
<p style="color: #cb1f1f;" class="article_paragraph">{{ article.content }}</p>

<a href="{{ url_for('articles.edit_article', id=article.id) }}">ویرایش</a> |
<a  href="{{ url_for('articles.article_pdf', id=article.id) }}">دانلود </a>
<form method="post" action="{{ url_for('articles.delete_article', id=article.id) }}">
    <button type="submit">حذف</button>
</form>

<h4>سوابق ویرایش:</h4>
<ul>
    {% for edit in article.edits %}
        <li>{{ edit.editor.username }} در {{ edit.edited_at.strftime('%Y-%m-%d %H:%M') }}</li>
    {% endfor %}
</ul>
{% endblock %}
